# env
venv/
.env

# python
__pycache__/
*.pyc

# notebooks
.ipynb_checkpoints/

# data (never commit raw/processed)
data/raw/
data/processed/

# mac
.DS_Store

# optional: notebook outputs can change often
notebooks/.ipynb_checkpoints/.DS_Store
